<script src="js/common.js"></script>
    <nav>
      <div class="nav-wrapper #424242 grey darken-3">
        <a href="#!" class="brand-logo"> ASD <i class="large material-icons">psychology</i> </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/profile">Dashboard</a></li>
          <li><a id='logout'>Log Out</a></li>
        </ul>
      </div>
    </nav>
